// Variables

// Colors
$blue_dark: #132B3A;
$blue_med: #33658A;
$blue_light: #86bbd8;
$orange_light: #f6ae2d;
$orange_dark: #f26419;
$white_off: #FFFAF3;

// Sizing
$largest: 2.441rem;
$large_med: 1.953rem;
$large: 1.563rem;
$base_large: 1.25rem;
$base: 1rem;
$base_small: .8rem;
$small: 0.64rem;
$small_med: 0.512rem;
$smallest: 0.4rem;

// Z-indices
$z_filter: 50;
$z_gallery: 100;
$z_nav: 150;


// Breakpoints
$bp_gallery_2col: 1100px;
$bp_gallery_1col: 760px;
$bp_mobile: 530px;